@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
nav{
    position: static;
    top:0;

}
//.container-flex img{
 //   width: 100%;
 //   background-size: cover;
 //   background-repeat: no-repeat ;


//}
 .navbar .row .col a{
   padding: 0 63px;
   top: 10px;


}
//.container-flex{
 //   display: flex;
//}

/*.container-flex a{
    font-size: 34px;
    position: absolute;
    border-radius: 33px;
    border: solid #042341;
    width: 280px;
    height: 80px;
    justify-content: center;
    margin: auto 0;
    background: #042341;



}
.container-flex .btn{

    color: white;
    text-align: center;
    position: absolute;
    top: 380px;
    left: 75px;

}*/
.row .col {
    display: flex;
}
.vertical-line{
    border-left: 2px solid black;
    display:inline-flex;
    height: 14px;
    margin: 0 9px;
    position: absolute;
    opacity: 25%;


}
.navbar{
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 3px 24px;

    width: 100%;




}

h5 a{
    font-weight: bold;
    font-size: 20px;
    color:#324161;
    border-spacing: 11px;
    text-decoration: none;

}
@media screen  and (max-width: 1250px){
    .vertical-line{
        display: none;
    }
    //.content{
    //    display:flex;
     //   height: 100vh;
   // }
    //.text{
     //   position:relative;
      //  bottom:56px;
    //}
    //img{
    //    max-width: 100%;
    //    display: block;
   // }
    .navbar .row .col{
        text-align: center;
        padding: 14px;

    }
    h1{
        font-size: 27px;
        position: relative;

    }
    .faire{
      position: relative;
      bottom: 70px;
      right: 34px;
    }
    .creez{
        width: 100%;
    }
   // .container-flex{
       // display: block;
   // }
    //.content{
        //display: block;
    //}
   // h1{
     //   font-size: larger;
    //margin-left: -111px;
   // }

}

a{
    text-decoration: none;
}
@media screen and (min-width:320px) and (max-width:342px) {
    .faire{
        position: relative;
    bottom: 70px;
    right: 34px;
    }
    .creez{
        width: 100%;
    }
}
