nav{
    background: white;
    box-shadow: 0 1px 5px;
    height: 57px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  nav .justify{
    float: right;
    margin-right: 62px;
    position:relative;
    top: 10px;
  }
  
  img{
    max-height: 44px;
    margin-left: 65px;
    bottom: 30px;
  
  }