
   <app-header></app-header>

  <div class="body">
    <div class="card">
      <div class="header">
        <div class="img">
          <img src="assets/image/logo.png" >
        </div>
        <h6>Créer votre compte</h6>
      </div>
      <form action="" class="donnee" *ngIf="isSignin === false">
        <div class="user dr">
          <div class="nom dx">
            <input type="text" class="input" name="fname" id="nom" [(ngModel)]="data.fname">
            <label for="nom" class="lbl">Nom</label>
          </div>
          <div class="prenom dx">
            <input type="text" class="input" name="lname" id="prenom" [(ngModel)]="data.lname">
            <label for="prenom" class="lbl">Prénoms</label>
          </div>
        </div>
        <div class="tel-mail dr">
          <div class="email dx">
            <input type="email" class="input" name="email" id="mail" [(ngModel)]="data.email">
            <label for="mail" class="lbl">E-mail</label>
            <div *ngIf="errmsg.email" class="alert alert-warning alert-dismissible fade show" role="alert">{{errmsg.infoemail}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <div class="tel dx">
            <input type="tel" class="input" name="phone" id="phone" [(ngModel)]="data.phone">
            <label for="phone" class="lbl">Téléphone</label>
          </div>
          <div *ngIf="errmsg.password" class="alert alert-warning alert-dismissible fade show" role="alert">{{errmsg.infopwd}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="tel-mail dr">
          <div class="email dx">
            <input type="password" class="input" name="password" id="password" [(ngModel)]="data.password">
            <label for="password" class="lbl">Mot de Passe</label>
          </div>
          <div class="tel dx">
            <input type="password" class="input" name="cpwd" id="cpwd" [(ngModel)]="data.cpwd">
            <label for="cpwd" class="lbl">Confirmer</label>
          </div>
          <div *ngIf="errmsg.password" class="alert alert-warning alert-dismissible fade show" role="alert">{{errmsg.infopwd}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="show">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="check dr">
          <input type="checkbox" value="" id="newsletter" />
          <label class="form-check-label" for="newsletter"> Je souhaite recevoir la newsletter d'Aladin avec les meilleures offres.</label>
        </div>
        <button class="btn btn-block mb-4" type="submit" style="background-color:#fab91a ; color: #324161;" (click)="register($event)">Je m'enregistre</button>
        
          <button type="button" class="btn btn-outline-danger" (click)="signInWithGoogle()">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
              <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"></path>
            </svg>
            S'Enregistrer avec GOOGLE
          </button>
        

        <br>
        <br>

        <button type="button" class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
          </svg>
          S'Enregistrer avec FACEBOOK
        </button>
        <div *ngIf="isSignin">
    <button type="button" (click)="signOut()" class="btn btn-primary" >Signout from GOOGLE</button>
  </div>
      </form>
    </div>
    
    <div class="new">
      avez- vous un compte? <a routerLink="/users/auth">Connecter-vous</a>
    </div>
  </div>
  
  
  <footer class=" justify-content-center text-lg-left">
  <div class="text-center p-3" >
   <strong style="float: left;"> © 2021 Aladin </strong>
      Reseaux sociaux:
    <a href="https://www.instagram.com/AladinCi" class="text-dark"><i class="fab fa-instagram  fa-x  "></i></a>
    <a href="https://twitter.com/AladinCi" class="text-dark"><i class="fab fa-twitter  fa-x  "></i></a>
    <a href="https://www.facebook.com/AladinCi" class="text-dark"><i class="fab fa-facebook  fa-2x  "></i></a>
  </div>
  </footer>
 
