<app-header-partner></app-header-partner>
<body>
<div class="container">
  <div class="bloc_pre">
    <div class="progres-bar">
      <div class="bloc bloc1">
        <div class="numerotation">
          <span>1</span>
        </div>
               <p>
                Compte Partenaire
               </p>
         <div class="num-icon fa fa-angle-right"></div>
      </div>
      <div class="bloc bloc2">
        <div class="numerotation">
          <span>2</span>
        </div>
               <p>
                Informations D'affaires
               </p>
         <div class="num-icon fa fa-angle-right"></div>
      </div>
      <div class="bloc bloc3">
        <div class="numerotation">
          <span>3</span>
        </div>
               <p>
                Compte Bancaire
               </p>
         <div class="num-icon fa fa-angle-right"></div>
      </div>
      <!--
      <div class="bloc bloc4">
        <div class="numerotation">
          <span>4</span>
        </div>
               <p>
                Résumé
               </p>
         <div class="num-icon fa fa-angle-right"></div>
      </div>
      -->
   </div>
  </div>

<!--
<div class="formulaire">
    <form>
    <div class="box slidepage">
      <h2 style="font-weight: bold;">Compte Partenaire</h2>
      <div class="text-blue">Inscrivez-vous et commencez à vendre dès aujourd'hui - créez votre propre compte vendeur</div>
        <div class="page">
          <div class="title">
            <h3>Données personnelles</h3></div>
            <div class="deb-form">
              <hr>
              <div class="tableau">
                <div class="tableau-gauche">
                  <div class="input">
                    <input type="text" placeholder="Nom de la societe">
                  </div>
                  <div class="input">
                    <input type="text" placeholder="Prenom">
                  </div>
                  <div class="input">
                    <input type="text" placeholder="Nom">
                  </div>
                  <div class="input">
                    <input type="text" placeholder="Numéro de téléphone">
                  </div>
                  <div class="input">
                    <input type="text" placeholder="Numéro whatsapp">
                  </div>
                </div>
                <div class="tableau-droite">
                  <div class="input">
                    <input type="text" placeholder="E-mail">
                  </div>
                  <div class="input">
                    <input type="text" placeholder="Entrez à nouveau votre E-mail">
                  </div>
                  <div class="input">
                    <input type="text" placeholder="Ville">
                  </div>
                  <div class="input">
                    <input type="text" placeholder="Mot de passe">
                  </div>
                  <div class="input">
                    <input type="text" placeholder="Entrez à nouveau votre mot de passe">
                  </div>
                </div>
              </div>
              <div class="bouton">
                <ul class="nav">

                  <li class="">
                    <button class="suit-3 suite btn btn-success nextbtn">Suivant</button>
                  </li>
                </ul>
              </div>
            </div>

        </div>
    </div>
    </form>
    </div>

    <div>
    <form>
    <div class="box" hidden>
      <h2 style="font-weight: bold;">Informations D'affaires</h2>
      <div class="text-blue">Inscrivez-vous et commencez à vendre dès aujourd'hui - créez votre propre compte vendeur</div>
        <div class="page slidePage">
          <div class="title">
            <h3>Compte</h3></div>
            <div class="deb-form">
              <hr>
              <div class="tableau">
                <div class="tableau-gauche">
                  <div class="input">
                    <input type="text" placeholder="Nom de la societe">
                  </div>
                  <div class="input">
                    <input type="text" placeholder="Prenom">
                  </div>
                  <div class="input">

                  </div>
                  <div class="input">
                    <input type="text" placeholder="Nom legal / Raison sociale">
                  </div>
                  <div class="input">
                    <input type="text" placeholder="Commune / Ville">
                  </div>
                </div>
                <div class="tableau-droite">
                  <div class="input">
                    <input type="text" placeholder="Nombre d'Articles Différents Disponible">
                  </div>
                  <div class="input">
                    <select>
                      <option value="0">Forme juridique</option>
                      <option value="1">Entreprise à responsabilité limitée</option>
                      <option value="2">Société anonyme</option>
                      <option value="3">Aucun capital minimal, responsabilité illimitée de partenaires, non-businnes</option>
                      <option value="4">Entreprise au Régime Réel</option>

                    </select>
                  </div>
                  <div class="input">
                    <input type="text" placeholder="N° d'enregistrement des entreprises">
                  </div>
                  <div class="input">
                    <input type="text" placeholder="Fichier d'information de TVA"><button>Sélectionner fichier</button>
                  </div>
                  <div class="input">
                    <input type="text" placeholder="Pays">
                  </div>
                </div>
              </div>
              <div class="bouton ">
                <ul class="nav">
                  <li>
                    <button type="button" class="prec-2 btn btn-danger" >Précedent</button>
                  </li>
                  <li>
                    <button class="suit-3 suite btn btn-success">Suivant</button>
                  </li>
                </ul>
              </div>
            </div>
        </div>
    </div>

   </form>
 </div>

-->
<!--compte partenaire-->

<div class="box" id="first" *ngIf="isfirst">
  <h2 style="font-weight: bold;">Compte Partenaire</h2>
    <div class="text-blue">Inscrivez-vous et commencez à vendre dès aujourd'hui - créez votre propre compte vendeur</div>
      <div class="page">
        <div class="title">
          <h3>Données personnelles</h3></div>
          <div class="deb-form">
            <hr>
            <div class="tableau">
              <div class="tableau-gauche">

                <div class="input">
                  <input type="text" placeholder="Prenom" name="lname" [(ngModel)]="userinfo.lname" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="input">
                  <input type="text" placeholder="Nom" name="fname" [(ngModel)]="userinfo.fname" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="input">
                  <input type="text" placeholder="Numéro de téléphone" name="phone" [(ngModel)]="userinfo.phone" [ngModelOptions]="{standalone: true}">
                  <div *ngIf="err.phone" class="alert alert-warning alert-dismissible fade show" role="alert">{{message.phone}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
                <div class="input">
                  <input type="text" placeholder="Numéro whatsapp" name="phone1" [(ngModel)]="userinfo.wht" [ngModelOptions]="{standalone: true}">
                  <div *ngIf="err.phone" class="alert alert-warning alert-dismissible fade show" role="alert">{{message.phone}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>

              <div class="tableau-droite">
                <div class="input">
                  <input type="text" placeholder="E-mail" email="email" [(ngModel)]="userinfo.email"  [ngModelOptions]="{standalone: true}">
                  <div *ngIf="err.email" class="alert alert-warning alert-dismissible fade show" role="alert">{{message.email}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>

                <div class="input">
                  <input type="text" placeholder="Ville" name="city" [(ngModel)]="userinfo.city"  [ngModelOptions]="{standalone: true}">
                </div>
                <div class="input">
                  <input type="password" placeholder="Mot de passe" name="pwd" [(ngModel)]="userinfo.pwd" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="input">
                  <input type="password" placeholder="Entrez à nouveau votre mot de passe" name="cfpwd" [(ngModel)]="userinfo.cpwd" [ngModelOptions]="{standalone: true}">
                  <div *ngIf="err.pwd" class="alert alert-warning alert-dismissible fade show" role="alert">{{message.pwd}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="bouton">
              <ul class="nav">
                <li>
                   <div class="col-lg-1" style="top: 0px;">
      <app-spiner [show]="show" [size]="50"> </app-spiner>

    </div>
                  <button class="suit-3 suite btn btn-success" (click)="follow_second($event)">Suivant</button>
                </li>
              </ul>
            </div>
          </div>
      </div>
  </div>

<!--information affaire-->
  <div class="col" id="second" *ngIf="issecond">
    <form enctype="multipart/form-data">
    <div class="box">
      <h2 style="font-weight: bold;">Informations D'affaires</h2>
      <div class="text-blue">Inscrivez-vous et commencez à vendre dès aujourd'hui - créez votre propre compte vendeur</div>
        <div class="page slidePage">
          <div class="title">
            <h3>Entreprise</h3></div>
            <div class="deb-form">
              <hr>
              <div class="tableau">
                <div class="tableau-gauche">


                  <div class="input">
                    <input type="text" placeholder="Nom legal / Raison sociale" name="sr" [(ngModel)]="userfirm.sr">
                  </div>

                  <div class="input">
                    <input type="text"placeholder="Commune / Ville" nam="l" [(ngModel)]="userfirm.l" [ngModelOptions]="{standalone: true}">

                  </div>

                </div>
                <div class="tableau-droite">
                  <div class="input">
                    <input type="text" placeholder="Nombre d'Articles Différents Disponible" name="d" [(ngModel)]="userfirm.d" [ngModelOptions]="{standalone: true}">
                  </div>

                  <div class="input">
                    <select name="forme" [(ngModel)]="userfirm.f" [ngModelOptions]="{standalone: true}">
                      <option value="Entreprise à responsabilité limitée">SARL</option>
                      <option value="Société anonyme">Société anonyme</option>
                      <option value="Aucun capital minimal, responsabilité illimitée de partenaires, non-businnes">Aucun capital minimal, responsabilité illimitée de partenaires, non-businnes</option>
                      <option value="Entreprise au Régime Réel">Entreprise au Régime Réel</option>
                    </select>
                  </div>

                  <div class="input">
                    <input type="text" placeholder="N° d'enregistrement des entreprises" name="numb" [(ngModel)]="userfirm.rgnb" [ngModelOptions]="{standalone: true}">
                  </div>


                  <div class="input">
                    <input type="text" placeholder="Pays" name="ctry" [(ngModel)]="userfirm.ctry" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
              <div class="bouton">
                <ul class="nav">
                  <li>
                    <button type="button" class="prec-2 btn btn-danger"(click)="back_first()" >Précedent</button>
                  </li>
                  <li>
                     <div class="col-lg-1" style="top: 0px;">
      <app-spiner [show]="show" [size]="50"> </app-spiner>

    </div>
                    <button class="suit-3 suite btn btn-success" (click)="follow_third()">Suivant</button>
                  </li>
                </ul>
              </div>
            </div>
        </div>
    </div>

   </form>
 </div>
<!--fin information affaire-->


 <div class="col" id="third" *ngIf="isthird">
   <form >
    <div class="box">
    <h2 style="font-weight: bold;">Compte Bancaire</h2>
      <div class="text-blue">Inscrivez-vous et commencez à vendre dès aujourd'hui - créez votre propre compte vendeur</div>
      <div class="page">
        <div class="title">
          <h3>Information bancaires et paiements</h3></div>
          <div class="deb-form">
            <hr>
            <div class="tableau">
              <div class="tableau-gauche">
                <div class="input">
                  <div class="input-emb">
                    <label for="mode_paie">Mode de paiement</label>
                    <input type="text" id="mode_paide" name="pdmode" [(ngModel)]="account.pmode" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="input">
                  <div class="input-emb">
                    <label for="num_compte">Numéro de Compte</label>
                    <input type="text" id="num_jcompte" name="acnjb" [(ngModel)]="account.accountnmb" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="input">
                  <div class="input-emb">
                    <label for="code_bq">Code Bancaire</label>
                    <input type="text" id="code_ubq" name="cojdeb" [(ngModel)]="account.bcode" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="input">
                  <div class="input-emb">
                    <label for="ib">IBAN</label>
                    <input type="text" id="ib" name="ibn" [(ngModel)]="account.ibn" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="input">
                  <div class="input-emb">
                    <label for="num_mob_money">Numéro Mobile Money</label>
                    <input type="text" id="num_mob_money" name="mobiled" [(ngModel)]="account.mobile" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
            </div>
            <div class="bouton">
              <ul class="nav">
                <li>
                  <button type="button" class="prec-2 btn btn-danger" (click)="back_second()">Précedent</button>
                </li>
                <li>
                   <div class="col-lg-1" style="top: 0px;">
             <app-spiner [show]="show" [size]="50"> </app-spiner></div>
                  <button class="suit-3 suite btn btn-success" (click)="saveuseraccount()">Suivant</button>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
    </form>
  </div>
</div>
</body>

<app-footer-dashboard></app-footer-dashboard>






