<app-header></app-header>
<div class="container-fluid" style="position: sticky;">
    <app-header-categorie></app-header-categorie>
    </div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-6" style="border: solid 1px #324161; text-align: center;">
            
            <div class="image-face">
                <h5>Le visuel</h5>
                <img [src]="url" width="300" alt="">
               
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="image-face">
                    <h5>La maquette</h5>
                    <img [src]="viewimage" width="300" alt="">
                      <a role="button"><strong style="color: #324161;">{{filename}}</strong></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="type">
                <h6>Est-ce un carnet ou une etiquette ?</h6>
                <input type="radio" class="btn-check" name="opte" id="stnd" autocomplete="off" >
                <label class="btn btn-outline-danger" for="stnd" (click)='showhideetiquette()' >Etiquette </label>
                <input type="radio" class="btn-check" name="opte" id="stnde" autocomplete="off" >
                <label class="btn btn-outline-danger" for="stnde" (click)="showcarnet()" >carnet</label>
            </div>
            <span style="color: red; font-weight: bold;" *ngIf="etiquette==false && carnete==false">{{err}}</span>
            <br>
          <div class="etiquette" *ngIf="hideetiquette">
            <div class="dimension">
                <h6>Hauteur</h6>
                <div class="input-group col-10" >
                    
                    <input type="text" style="height: 38px;" class="form-control"  aria-describedby="basic-addon2" [(ngModel)]="largeur">
                    <span class="input-group-text" id="basic-addon2">cm</span>
                </div>
                <h6>Longueur</h6>
                <div class="input-group col-10">
                    <input type="text" style="height: 38px;" class="form-control"  aria-describedby="addon2" [(ngModel)]="longueur">
                    <span class="input-group-text" id="addon2">cm</span>
                </div>
            </div>
            <br>
            <div class="format">
                <h6>Le Format</h6>
            </div>
            <div class="choix">
                
                <input type="radio" class="btn-check" name="options" id="st" autocomplete="off" >
                <label class="btn btn-outline-danger" for="st" (click)="ShowpriceSD()" >Sans découper (3000 fcfa)</label>
                <input type="radio" class="btn-check" name="options" id="std" autocomplete="off" >
                <label class="btn btn-outline-danger" for="std" (click)="ShowpriceD()" >Découper (4000 fcfa)</label>
            </div>
            <span style="color: red; font-weight: bold;" *ngIf="sansdecouper==false && avecdecoupe==false">{{erreur}}</span>
          </div>
          <div class="carnet" *ngIf="carnet">
            <div class="quantite">
                <h6>numero de dernier reçu:</h6>
              <input type="text" class="form-control" [(ngModel)]="recu">
            </div>
            <br>
              <h5>Les Format</h5>
              <span style="color: red; font-weight: bold;"
              *ngIf="A42S==false && A43S==false && A44S==false && A52S==false && A53S==false &&
              A54S==false && A62S==false && A63S==false && A64S==false"
              
              >{{erreur}}</span>
              <div class="format">
                  <div class="row">
                      <div class="col-4">

                          <h6>Les format A4</h6>

                          <input type="radio" class="btn-check" name="A" id="a41" autocomplete="off" >
                          <label class="btn btn-outline-danger bt" for="a41" (click)="showpriceA4_2S()" >Format A4 + 2 souches </label>
                          
                          <input type="radio" class="btn-check" name="A" id="a42" autocomplete="off">
                          <label class="btn btn-outline-danger bt" for="a42" (click)="showpriceA4_3S()">Format A4 + 3 souches</label>
                          
                          <input type="radio" class="btn-check" name="A" id="a43" autocomplete="off" >
                          <label class="btn btn-outline-danger bt" for="a43" (click)="showpriceA4_4S()">Format A4 + 4 souches</label>
                      </div>
                      <div class="col-4">
                        <h6>Les format A5</h6>
                        <input type="radio" class="btn-check" name="A" id="A51" autocomplete="off" >
                        <label class="btn btn-outline-danger bt" for="A51" (click)="showpriceA5_2S()" >Format A5 + 2 souches </label>
                        
                        <input type="radio" class="btn-check" name="A" id="A52" autocomplete="off">
                        <label class="btn btn-outline-danger bt" for="A52" (click)="showpriceA5_3S()"  >Format A5 + 3 souches</label>
                        
                        <input type="radio" class="btn-check" name="A" id="A53" autocomplete="off" >
                        <label class="btn btn-outline-danger bt" for="A53"(click)="showpriceA5_4S()"  >Format A5 + 4 souches</label>
                    </div>
                    <div class="col-4">
                        <h6>Les format A6</h6>
                        <input type="radio" class="btn-check" name="A" id="A61" autocomplete="off">
                        <label class="btn btn-outline-danger bt" for="A61" (click)="showpriceA6_2S()"  >Format A6 + 2 souches</label>
                        
                        <input type="radio" class="btn-check" name="A" id="A62" autocomplete="off">
                        <label class="btn btn-outline-danger bt" for="A62" (click)="showpriceA6_3S()">Format A6 + 3 souches</label>
                        
                        <input type="radio" class="btn-check" name="A" id="A63" autocomplete="off" >
                        <label class="btn btn-outline-danger bt" for="A63" (click)="showpriceA6_4S()" >Format A6 + 4 souches</label>
                    </div>
                  </div>
              </div>
          </div>
          <br>
          <!--bouton import maquette-->
          <div class="btn btnet" >
            <label class="des" for="file">
            importer la maquette
            <i class="fas fa-arrow-circle-up fa-2x"></i>
            </label>
            <input type="file" name="" id="file"  hidden (change)="Uplade($event)" >
           </div>
           <span style="color: red;font-weight: bold;" >{{error}}</span>
           <br>
           <!--quantité-->
          <div class="quantite" style="display: flex;" *ngIf="QtA4">
              <h6>Quantité:</h6>
              <div class="moins">
                <a class="btn btnt" >
                  <i class="fal fa-minus-circle fa-2x" (click)="minusA4()"></i>
                </a>
              </div>
            <input type="text" class="form-control cont" disabled [(ngModel)]="quantite">
            <div class="plus">
                <a class="btn btnt" >
                  <i class="fal fa-plus-circle fa-2x" (click)="plusA4()"></i>
                </a>
              </div>
        </div>
        <div class="quantite" style="display:flex;" *ngIf="qtA5">
            <label for="">Quantité</label>
            <div class="moins">
              <a class="btn btnt" >
                <i class="fal fa-minus-circle fa-2x" (click)="minusA5()"></i>
              </a>
            </div>
            <input  type="text" class="form-control cont" disabled  [(ngModel)]="qtyA5">
            <div class="plus">
              <a class="btn btnt" >
                <i class="fal fa-plus-circle fa-2x" (click)="plusA5()"></i>
              </a>
            </div>
          </div>
          <div class="quantite" style="display:flex;" *ngIf="QtA6">
            <label for="">Quantité</label>
            <div class="moins">
              <a class="btn btnt" >
                <i class="fal fa-minus-circle fa-2x" (click)="minusA6()"></i>
              </a>
            </div>
            <input  type="text" class="form-control cont" disabled  [(ngModel)]="qtyA6">
            <div class="plus">
              <a class="btn btnt" >
                <i class="fal fa-plus-circle fa-2x" (click)="plusA6()"></i>
              </a>
            </div>
          </div>
          <div class="quantite" style="display:flex;" *ngIf="qteti"> 
            <label for="">Quantité</label>
            <div class="moins">
              <a class="btn btnt" >
                <i class="fal fa-minus-circle fa-2x" (click)="minus()"></i>
              </a>
            </div>
            <input  type="text" class="form-control cont" disabled  [(ngModel)]="qtyetiq">
            <div class="plus">
              <a class="btn btnt" >
                <i class="fal fa-plus-circle fa-2x" (click)="plus()"></i>
              </a>
            </div>
          </div>
           
          <br>
          <div class="prix" *ngIf="carnet">
            <h4><p class="text-small" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 12px; color: red;">prix unitaire:
            </p> <p *ngIf="promo1"> <del *ngIf="(A42S==true || A52S==true || A62S==true)" style="color: red;">{{Price}} FCFA</del>    <strong style="color: #324161;margin: 6px;">{{newprice}} fcfa</strong></p> </h4>
           <h4 *ngIf="(promo) && (A43S || A44S || A53S || A54S || A63S || A64S)">{{Price}} fcfa</h4>
            <input type="number" hidden [(ngModel)]="Price" >
        </div>
          <div class="prix" *ngIf='etiquette'>
            <h4 ><p class="text-small" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 12px; color: red;">prix unitaire:</p>{{Price}} FCFA </h4>
            <input type="number" hidden [(ngModel)]="Price" >
        </div>
        <br><br>
            <button class="btn-success btne" type="submit" style="float: right;" (click)="addcart()">Ajouter au panier</button>
        </div>
    </div>
</div>
<br><br><br>
<app-footer></app-footer>