h6{
    margin-left: 16px;
}
.btn-check:checked+.btn-outline-danger{
    border-color: #324161;
    background:transparent;
    box-shadow: 0 0 0 0.10rem #324161;
    color:#324161;


}
.btn-check:hover+.btn-outline-danger{
    background:transparent;
    color:#324161;
}
.btn-check+.btn-outline-danger{
    background:transparent;
    color:#324161;
    border-color:#fab91a;
    text-transform:none;
}
label{
    margin:8px;
    font-weight:bold;
}
input:focus{
box-shadow: none;
}
.bt{
    font-size:11px;
}
.btne{
    width: 41%;
    height: 50px;
    margin-right: 66px;
    margin-bottom: 13px;
    font-family: 'Poppins';
    font-weight: bold;
    border: none;

}
.btnet{
    background: #fab91a;
    box-shadow: none;
    border-radius: 36px;
    color: white;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 10px;
    margin: 7px;
}
.btnt{
    box-shadow: none;
 }
 .btnt:hover{
     box-shadow: none;
 }
 .cont{
     width: 20%;
     margin-left: -2px;
     margin-top: 5px;
     text-align: center;
 }
@media screen and (max-width:768px) {
    .col-6{
        width:100%;
    }
    .btne {
        width: 65%;
        height: 54px;
    }
    
}