
  <!--<div class="mb-3">
    <input type="text" class="form-control" placeholder="saisissez vos textes ici">
  </div>
<p>
    <a  role="button" (click)="cache1()">
    <img   src="assets/image/pallt.png" width="30" alt="">
    </a>
    <a > <select   name="font-family" id="font-family" (change)="selectChangeHandler($event)" >
      
    </select></a>
    <a href=""> <i class="fas fa-italic" aria-hidden="true"></i></a>
    <a href=""> <i class="fas fa-bold" aria-hidden="true"></i></a>
    <a href=""> <i class="fas fa-underline" aria-hidden="true"></i></a>
    <a href=""><i class="far fa-trash-alt"></i> </a>
    <a  role="button" >
    <i  class="fas fa-text-height" ></i></a>  
    <a role="button" (click)="cache()"><i class="fas fa-text-width"></i></a>
    <a href=""><i class="fas fa-undo-alt"></i></a>
    <a href=""><i class="far fa-copy"></i></a>
    <a href=""><i class="fas fa-paste"></i></a>
</p>
<div class="row" *ngIf="hide1">
  <div class="col">
    <h6>Choisissez une couleur:</h6>
    <color-circle   [colors]="colorarray" (onChange)="texteclor($event)"></color-circle>
     
   
  </div>
</div>

<div class="collapse" id="text-height" >
  <div class="card card-body" >
    adcfr
  </div>
</div>

<div class="row" *ngIf="hide">
  <div class="col">
    <div class="input">
      <input type="text" class="form-control contre" name="" id="" value="8 pts">
      <a class="plus" role="button"><i class="fal fa-plus-circle c fa-2x "></i></a>
      <a class="minus" role="button"><i class="fal fa-minus-circle c fa-2x "></i></a>
    </div>
  <label for="Range3" class="form-label text-center">Hauteur:</label>
<input type="range" class="form-range " name="height" min="8" max="100" step="5" id="Range3">
  </div>
</div>-->
<body>
  <div class="container">
    <div class="row">
      <div class="neons col-6">
          <h1 style="float: left;"><em>-Welcome to Aladin-</em></h1>
      </div>
      <div class=" col-6">
        <p style="float: right; color: white;"><i class="fas fa-headset fa-2x"></i>: (+225)0748089885 </p>
    </div>
    </div>
  </div>
</body>