<div *ngIf="loginform">  
  <app-header></app-header>

</div>
<div *ngIf="loginform==false">  
  <app-header-up></app-header-up>

</div>
<br><br><br>

<div class="d-flex justify-content-center" id="spinner" *ngIf="spinning">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="container" *ngIf="loginform">   
    <div class="row justify-content-center">    
        <div class=" col-sm-6 col-md-5">
            <form class="form-container">
                <h4>Connexion</h4>
                <p>Pas de compte?<i class="fa fa-user fa-2x" style="margin-left: 10px;color: #324161;
                    "aria-hidden="true"></i><a href="/users/registertopay" style="margin-left: 10px;">Je m'inscris</a></p><br>
                    <!----
                <p style="vertical-align: 3px;">Envie de vendre?<i  class="fa fa-handshake-o fa-2x" style="margin-left: 10px;color: blue;
                    "aria-hidden="true"></i><a href="/partners" style="margin-left: 10px;vertical-align: 3px;">je deviens partenaire</a></p><br>
                -->
               
               <div class="mb-3">
                <input type="email" class="form-control"  name="email" placeholder="E-mail" [(ngModel)]="email">
               
            </div><br>
            <div *ngIf="maile" class="alert alert-warning alert-dismissible fade show" role="alert">{{message.email}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
             

                <div class="mb-3">
                    <!--<div class="checkbox">
                        <input type="checkbox" id="checkbox">
                        afficher le mot de passe
                    </div>
                -->
                <input type="password" class="form-control" id="pass" name="pwd" placeholder="Mot de passe" [(ngModel)]="password">
                
                </div>
                <div class="d-flex justify-content-center" *ngI>
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <div *ngIf="epwd" class="alert alert-warning alert-dismissible fade show" role="alert">{{message.password}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <div class="mb-3 form-check">
               <!----
                <label style="font-size: 12px;" class="form-check-label">Je souhaite rester connecte(e)</label>
                -->
                <a  href="/users/pwdforgot" style="position: relative ;left:45px;">Mot de passe oublie?</a>
                </div>

                <div class="d-grid gap-2  mx-auto" *ngIf="user"> 
                  <button (click)="login()" class="btn btn btn-lg">Je me connecte</button>

                  <button type="button" class="btn btn-outline-danger" (click)="signInWithGoogle()" > 
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                      <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"></path>
                    </svg>
                   Se Connecter avec GOOGLE
                  </button>
                  

                  <button type="button" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                      <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
                    </svg>
                    Se Connecter avec FACEBOOK
                  </button>

                  
                  
                </div>
                
               <button type="button" class="btn btn-danger" (click)="signOut()" *ngIf="!user">
                      SIGN OUT
                  </button>
               
               <br>  
            </form>
     </div>
   </div>
</div> 
<div class="container" *ngIf="isauth">
  <app-checkout [data]="userdata"  [isauth]="isauth"></app-checkout>
</div>

<br><br><br>
<footer style="bottom: 0;position: relative; display: block;">
  <app-footer></app-footer>

</footer>

