
<div class="card-columns">
  
  <div class="card" >
    <div class="im" style="display: flex;">

        <img [src]="face1"  class="zoom" *ngIf="face1!=undefined">
        <img [src]="face2"  class="zoom" *ngIf="face2!=undefined">
      </div>
</div>
<!-----
    <div class="card-columns">

---->
      
     
      
      <!-- boite dialoge *********************************** -->
      
     
      
       
<div class="card" *ngFor ="let item of data" id="packs" >

  <div class="modal fade" id="packmodal"  aria-labelledby="exampModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
    <div class="modal-content">    
        <div class="modal-body">
            <div class="container">
                <div class="row ro">
                  <div class="col-8">
                    <h6 *ngIf="hide_calco">Taille </h6>
                    <div class="rad" *ngIf="hide_calco">
  
                      <select class="form-select" name="SELECTING SIZE" (change)="OnsizeChange($event)">
                        <option selected value="value">choisissez Taille</option>
                    
                         <option  [value]="item.data.size">{{item.data.size}}</option>
                    
                        
                      </select>
                     </div>
         
                <hr *ngIf="hide_calco">
               
        
                   <div class=" col-8 btn">
                    <a class="dt" data-toggle="collapse" data-target="#infopack" aria-expanded="false" aria-controls="infopack" (click)="hidemodal()">Calculer le montant</a>
                  </div>
  
                  <div id="infopack" class="collapse" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body">
                              <p class="to text text-primary">{{price}} XOF</p>
  
                            <div class="row">
                              <span class="input-number">{{qty}}</span>
  
                            </div>
                                <div class="row">
                                  <a type="button" class="input-number-decrement btn btn-primary" (click)="getPricem()">–100</a>
  
                                  <a type="button" class="input-number-increment btn btn-secondary" (click)="getPrice()">+100</a>
                                </div>
  
                              <div class="row">
                                  <a type="button" class="input-number-increment_div btn btn-secondary" (click)="divide()">:2</a>
  
                                  <a type="button" class="input-number-increment_by btn btn-secondary" (click)="decremet_by()">x2</a>
  
                                </div>
  
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-primary" (click)="addtocart()">
                                  <i class="fas fa-cart-plus" ></i>
                                </a>
                            </div>
                        </div>
                    </div>
                  </div>
  
                  </div>
                </div>
  
  
              </div>
        </div>
    </div>
    </div>
  </div>




    <div class="im" style="display: flex;">

        <img [src]="item.face1"  class="zoom">
        <img [src]="item.face2"  class="zoom">
      </div>

    <div class="card-body">
        <h5 class="card-title" hidden>{{item.data.name}}</h5>
        <p>{{item.data.price}} <strong>fcfa</strong> </p>
        <div class="col-6">
            <button class="btn" [id]="mydesigns.indexOf(item)+'*'+data.indexOf(item)" data-toggle="modal" data-target="#packmodal" (click)="getProdprice($event)" [name]="item.data.price"> 
              Ajouter au panier</button> 
          </div>

          <br>
            <div class="col-3 d-flex" style="float: left;">
              <button class="btn btn-block" style="margin-left:0%;float:left"> 
                <i class="far fa-trash-alt" (click)="removeOneItem($event)" [id]="data.indexOf(item)+'*'+mydesigns.indexOf(item)"></i></button>        
           
            </div>

    </div>


</div>





</div>


