<!--top bar-->

<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.js"
></script>
<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css"
  rel="stylesheet"
/>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  
 

    <div class="navbar" style="background: #042341;font-family: Roboto;">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <ul>
              <a>Contact: 2723457302</a>
              <span class="vertical-line"></span>
              <a role="button" (click)='Scroll()' class="nav-link" style="color:#fab91a;">Notre entreprise</a>

            </ul>
          </div>
          <div class="col">
        
          </div>
          <div class="col faire" style="color: white;">
            <ul>

              <a  class="nav-link" style="color: white;margin-left: 44px;"> Comment ça marche ?</a>
              <span class="col" class="vertical-line">

              </span>

              <a  role="button"  data-toggle="modal" data-target="#getauth"  class="nav-link con" style="color: white; " *ngIf="isauth==false">
                <i class="fas fa-user" aria-hidden="true"></i>
                Connexion
              </a>

              <div *ngIf="isauth"  style="float:inline-start; width: auto;">Bienvenue <strong style="color: orange; font-size: small;">{{name}},{{socialUser.name}} </strong> 
              </div>
            
                <li style="float: right; margin-top: 0%; margin-left: 10%; margin-right: 0%;" *ngIf="isauth">
                  <div class="dropdown" *ngIf="isLoggedin === true">
                    <a style="color: white;" class=" dropdown-toggle"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-user fa-x" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                      <a class="dropdown-item" href="/home"><i class="fas fa-home"></i> Acceuil</a>
                      <hr>
                      <a class="dropdown-item" [href]="URL+ID"><i class="fas fa-user fa-x" aria-hidden="true"></i> Mon Compte</a>
                      <hr>
                      <a class="dropdown-item" [href]="URL+ID"><i class="fas fa-edit  fa-x  "></i> Mes commandes</a>
                      <hr>
                      <a class="btn btn-warning" type="submit" (click)="logout($event)" (click)="logOut()" >Deconexion</a>
                    </div>
                  </div>
                 </li>
                 

              <div class="modal fade" id="getauth"  tabindex="-1"  aria-labelledby="getauth" aria-hidden="true">
                <div class="modal-dialog " role="dialog">
                  <div class="modal-content">
                    <div class="modal-header">

                      <h5 class="modal-title" id="getauth" style="color: #324161;font-size: 34px;font-weight: bold;">Connexion</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="c">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    
                    <div class="modal-body">

                                <form>
                                    <p>Envie de shopper?<i class="fa fa-user fa-2x"
                                      style="margin-left: 10px;color: #324161;"    aria-hidden="true"></i><a href="/users/register" > je m'inscris</a></p><br>
                                   <!---- <p>Envie de vendre?<i  class="fa fa-handshake-o fa-2x"
                                       aria-hidden="true" style="margin-left: 10px;"> </i> <a href="/partners">je deviens partenaire</a></p><br>-->
                                    
                                       <div class="mb-3">
                                    <input type="text" class="form-control" name="email"   placeholder="E-mail ou Nom d'utilisateur" [(ngModel)]="data.email" >

                                    <div *ngIf="data.erroremail==true" class="alert alert-warning alert-dismissible fade show text-danger">
                                      {{message}}
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    </div><br>

                                    <div class="mb-3">
                                    <input type="password" class="form-control" id="pass" name="password" placeholder="Mot de passe" [(ngModel)]="data.password" >
                                    <div *ngIf="data.errorpwd==true" class="alert alert-warning alert-dismissible fade show text-danger">
                                      {{data.pwdmsg}}
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    </div>

                                    <div class="mb-3 form-check" >
                                      <input type="checkbox" name="checked" class="checkbox" id="checkbox">

                                    <input type="checkbox" class="form-check-input" style="color: #fab91a;">
                                    <a href="/users/pwdforgot"  style="position: relative ;left:35px;">Mot de passe oublie?</a>
                                    </div>

                                    <div class="d-grid gap-2  mx-auto" *ngIf="isLoggedin === false || Loggedin === false">
                                      <div class="d-flex justify-content-center" *ngIf="show">
                                        <div class="spinner-border" role="status">
                                          <span class="sr-only">Loading...</span>
                                        </div>
                                      </div>
                                      
                                      <button type="submit" class="btn btn btn-lg " style="background:#fab91a;color: white;" (click)="login($event)">Je me connecte</button>
                                    
                                          
                                            <button type="button" class="btn btn-outline-danger" (click)="loginWithGoogle()">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                                <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"></path>
                                              </svg>
                                              Se Connecter avec GOOGLE
                                            </button>
                                          
                                    
                                        
                                      
                                        <button type="button" class="btn btn-primary" (click)="loginWithFacebook()">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
                                          </svg>
                                          Se Connecter avec FACEBOOK
                                        </button>

                                        <div *ngIf="Loggedin === true">
                                          <button type="button" (click)="signOut()" class="btn btn-primary" >Logout from Facebook</button>
                                        </div>
  
                                    </div>

                                    <div *ngIf="isLoggedin === true">
                                      <button type="button" (click)="logOut()" class="btn btn-primary" >Logout from Google</button>
                                    </div>
                                    
                                   <br>
                                   <hr>
                                   <br>
                                  

                                </form>
                         </div>
                       </div>
                    </div>
                    </div>
            </ul>

          </div>
        </div>
      </div>
  </div>

<nav>
    <div class="nav" >
      <div class="logo">
        <a href="/home" *ngIf="fromhome==false">
          <img src="/assets/image/logo.png" width="100" height="100">
         </a>

        <a (click)="gohome()" *ngIf="fromhome">
         <img src="/assets/image/logo.png" width="100" height="100">
        </a>
      </div>

       <div class="search_box">
         <input type="search" placeholder="Chercher vos produits ici">
         <a  type="submit" class="nav-link "><i class="fas fa-search" aria-hidden="true"></i></a>
        </div>
       <ol>
       <li><a  (click)="gohome()" *ngIf="fromhome" ><i class="fas fa-home fa-x" aria-hidden="true" style="color: blue;"></i> Acceuil</a></li>
       <li><a  href="/home" *ngIf="fromhome==false" ><i class="fas fa-home fa-x" aria-hidden="true" style="color: blue;"></i> Acceuil</a></li>


       <input type="number"  hidden name="dudu" [(ngModel)]="cart_items"/>
     
       <li><a href="/cart" *ngIf="fromhome==false"><i class="fas fa-shopping-cart fa-x" aria-hidden="true" style="color: blue;"></i> <span class="badge badge-danger">{{cart_items}}</span></a></li>
       <li><a (click)="gotocart()" *ngIf="fromhome"><i class="fas fa-shopping-cart fa-x" aria-hidden="true" style="color: blue;"></i> <span class="badge badge-danger">{{cart_items}}</span></a></li>

      </ol>
       <label for="check" class="bar">
         <span class="fa fa-bars fa-3x" id="bars"></span>
         <span class="fa fa-times fa-3x" id="times"></span>
       </label>
  </div>
</nav>

