.to{
    text-align: center;
      }
      .input-number{
        width: 100px;
        bottom: 0px;
        text-align: center;
        float: inline-start;
        background: #F2711C !important;
        position:absolute;
        margin-left: 25%;

      }
      .input-number-decrement{
        margin-left: 20px;
        float: left;
        text-align: center;

      }
      .input-number-increment{
        float: right;
        margin-left: 50%;
        text-align: center;

      }
      .input-number-increment_by{
        float: inherit;
        margin-top: 0%;
        margin-left: 50%;
        text-align: center;

      }

      .input-number-increment_div{
        float: inherit;
        margin-top: 0%;
        margin-left: 20px;
        text-align: center;

      }


.card-columns{
    display: inline-block;
}
img{
    width: 100px;
}
.card{
    //width: 100%;
    margin: 12px;
}
.card-body{
    text-align: center;
}
.btn{
    height: 40px;
    background: #324161;
    color: white;
    font-family: 'Poppins', sans-serif;
    border: none;
    width: max-content;
}
.btn:hover{
    background: #324161;
    color: white;
}
h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #324161;
}
.col-8 {
    flex: 0 0 auto;
    width: 101.666667%;
}
.btn:focus{
    box-shadow: none;
}
.co{
    padding: 12px;
}
.ro{
    height: 418px;
}
.rad{
    display: flex;
}

.col-12{
    margin: 12px;
}
.int{
    width: 164px;
    height: 36px;
    border-radius: 10px;
}
input::target-text{
    border: solid 2px blue;
}
a{
    text-decoration: none;
    color: white;
}
.btn{
    background-color: #324161;
}
.dt:hover{
color: white;
    background: #324161;
}
.row{
    background-color: white;
    border-radius: 8px;
    margin: 10px;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    //height: auto;
}
.container{
    margin-top: 40px;
    
}
select{
    box-shadow: none;
    width: 100%;
    height: 40px;
}
select:focus{
    box-shadow: none;
}
input{
    margin: 9px;
}
.M{
    margin: 12px;
    border: solid 1px #eee;
    text-align: center;
}
label{
    margin: 5px;
}
img{
    margin-top: 15px;
    //box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.checkbox{
    height: 50px;

}
.m::after{
content: 'f00e';
}
@media screen and (min-width:320px) and(max-width:364px){
    .col-8{
        width: 100%;
    }
    .row{
        height: auto;
    }
    .col-6{
        width: 100%;
        margin: 6px;
    }
    .row{
       
        height: auto;
    }
    img{
        height: 267px;
    }
}
@media screen and (min-width:362px) and(max-width:375px){
    .col-8{
        width: 100%;
    }
    .row{
        height: auto;
    }
    .col-6{
        width: 100%;
        margin: 6px;
    }
    .row{
       
        height: auto;
    }
    img{
        height: 267px;
    }
}
@media screen and (min-width:362px) and(max-width:425px){
    .col-8{
        width: 100%;
    }
    .row{
        height: auto;
    }
    .col-6{
        width: 100%;
        margin: 6px;
    }
    .row{
       
        height: auto;
    }
    img{
        height: 267px;
    }
}
@media screen  and /*(min-width:362px) and*/(max-width:768px) and (oriantation:landscape){
    .col-8{
        width: 50%;
        //margin: 33px;
        padding: 12px;
    }
    .row{
        height: auto;
    }
    img{
        height: 388px;
    }
   select{
       width: 100%;
   }
}
@media screen and (min-width:375px) and(max-width:362px){
    .col-8{
        width: 50%;
        margin: 33px;
    }
    .row{
        height: auto;
    }
   img{
    height: 215px;

   }
   .row{
       
    height: auto;
}
img{
    height: 267px;
}
}
@media screen and (min-width:600px) and(max-width:1024px){
    .col-8{
        width: 100%;
    }
    .row{
       
        height: auto;
    }
}
@media screen and (max-width:480px){
    .col-8{
        width: 100%;
    }
    .col-6{
        width: 100%;
    }
    .row{
       
        height: auto;
    }
    .rad{
        display: inherit;
    }
}
@media screen and (max-width:568px){
    .col-8{
        width: 90%;
    }
    .col-6{
        width: 100%;
    }
    .row{
       
        height: auto;
    }
}
@media screen and (max-width:768px) {
    img{
        width: 136px;
    }
    @media screen and (oriantation:landscape) {
        img{
            width: 221px;
        }
    }
}


.zoom {
    transition: transform .2s;
    margin: 0 auto;
  }

  .zoom:hover {
      height: auto;
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Safari 3-8 */
    transform: scale(2); 
  }
